<a href="https://colab.research.google.com/github/chukseey/chukseey/blob/main/nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import nltk #Natural Language tool kit -- this pacakge is quite a mess. Was poorly design and the documentation is not great 
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer

In [30]:
text="""President-elect Joe Biden and his transition team are preparing for an early, all-out push to pass an ambitious new stimulus bill, while also drawing up plans for a flurry of executive actions aimed at delivering on campaign promises and undoing the Trump administration's efforts to undermine key government agencies.
Biden will be inaugurated in January with a pressing mandate to confront simultaneous and interwoven public health, economic and racial crises. At the same time, his team will take over the work of spearheading one of the most complicated, politically fraught mass vaccination campaigns in American history.
Biden's agenda for his first 100 days in office will, according to both those close to him and outside groups in contact with his top aides, center on two key avenues of action: the passage of a broad economic aid package and, where legislation is not necessary, a series of executive actions aimed at advancing his priorities. Containing the Covid-19 pandemic, launching an economic recovery and tackling racial inequality are his most urgent priorities, transition officials say."""

In [31]:
# you can split each word by space but there are better ways to do this 

text.split(' ')

['President-elect',
 'Joe',
 'Biden',
 'and',
 'his',
 'transition',
 'team',
 'are',
 'preparing',
 'for',
 'an',
 'early,',
 'all-out',
 'push',
 'to',
 'pass',
 'an',
 'ambitious',
 'new',
 'stimulus',
 'bill,',
 'while',
 'also',
 'drawing',
 'up',
 'plans',
 'for',
 'a',
 'flurry',
 'of',
 'executive',
 'actions',
 'aimed',
 'at',
 'delivering',
 'on',
 'campaign',
 'promises',
 'and',
 'undoing',
 'the',
 'Trump',
 "administration's",
 'efforts',
 'to',
 'undermine',
 'key',
 'government',
 'agencies.\nBiden',
 'will',
 'be',
 'inaugurated',
 'in',
 'January',
 'with',
 'a',
 'pressing',
 'mandate',
 'to',
 'confront',
 'simultaneous',
 'and',
 'interwoven',
 'public',
 'health,',
 'economic',
 'and',
 'racial',
 'crises.',
 'At',
 'the',
 'same',
 'time,',
 'his',
 'team',
 'will',
 'take',
 'over',
 'the',
 'work',
 'of',
 'spearheading',
 'one',
 'of',
 'the',
 'most',
 'complicated,',
 'politically',
 'fraught',
 'mass',
 'vaccination',
 'campaigns',
 'in',
 'American',
 "history.\nBiden's",
 'agenda',
 'for',
 'his',
 'first',
 '100',
 'days',
 'in',
 'office',
 'will,',
 'according',
 'to',
 'both',
 'those',
 'close',
 'to',
 'him',
 'and',
 'outside',
 'groups',
 'in',
 'contact',
 'with',
 'his',
 'top',
 'aides,',
 'center',
 'on',
 'two',
 'key',
 'avenues',
 'of',
 'action:',
 'the',
 'passage',
 'of',
 'a',
 'broad',
 'economic',
 'aid',
 'package',
 'and,',
 'where',
 'legislation',
 'is',
 'not',
 'necessary,',
 'a',
 'series',
 'of',
 'executive',
 'actions',
 'aimed',
 'at',
 'advancing',
 'his',
 'priorities.',
 'Containing',
 'the',
 'Covid-19',
 'pandemic,',
 'launching',
 'an',
 'economic',
 'recovery',
 'and',
 'tackling',
 'racial',
 'inequality',
 'are',
 'his',
 'most',
 'urgent',
 'priorities,',
 'transition',
 'officials',
 'say.']

In [32]:
#text= """(CNN) As communities devastated by the catastrophic flooding in parts of western Europe start picking up the pieces, they are wondering how it all went so wrong, so fast. After all, Europe has a world-leading warning system that issued regular alerts for days before floods engulfed entire villages.
#But at least 195 people still died in Germany and Belgium, in floods that came quickly and forcefully. The Copernicus Emergency Management Service said it sent more than 25 warnings for specific regions of the Rhine and Maas river basins in the days leading up to the flooding, through its European Flood Awareness System (EFAS), well before heavy rains triggered the flash flooding."""

In [33]:
# this performs word tokenization -> this is used in simple models where each word is a feature
from nltk.tokenize import word_tokenize
nltk.download('punkt') # punkt - punctuation kit --> sometimes we need to download specific compoents of this package

# punkt know that => At = at -> the same word. Because At is capitalized because of the dot
tokens = word_tokenize(text)
tokens[:15]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['President-elect',
 'Joe',
 'Biden',
 'and',
 'his',
 'transition',
 'team',
 'are',
 'preparing',
 'for',
 'an',
 'early',
 ',',
 'all-out',
 'push']

In [34]:
# we often remove punctuation after tokenization since punctuation is unlikely to be a good predictive feature

# isalumn() only words --> if they are alphanumeric. Takes all simbols
tokens = [word for word in tokens if word.isalnum()]
tokens[:15]

['Joe',
 'Biden',
 'and',
 'his',
 'transition',
 'team',
 'are',
 'preparing',
 'for',
 'an',
 'early',
 'push',
 'to',
 'pass',
 'an']

In [35]:
# Alternative
# this performs sentence tokenizations -> can be used if you want to treat each sentence as a "feature"
from nltk.tokenize import sent_tokenize
sent_tokenize(text)

["President-elect Joe Biden and his transition team are preparing for an early, all-out push to pass an ambitious new stimulus bill, while also drawing up plans for a flurry of executive actions aimed at delivering on campaign promises and undoing the Trump administration's efforts to undermine key government agencies.",
 'Biden will be inaugurated in January with a pressing mandate to confront simultaneous and interwoven public health, economic and racial crises.',
 'At the same time, his team will take over the work of spearheading one of the most complicated, politically fraught mass vaccination campaigns in American history.',
 "Biden's agenda for his first 100 days in office will, according to both those close to him and outside groups in contact with his top aides, center on two key avenues of action: the passage of a broad economic aid package and, where legislation is not necessary, a series of executive actions aimed at advancing his priorities.",
 'Containing the Covid-19 pandemic, launching an economic recovery and tackling racial inequality are his most urgent priorities, transition officials say.']

In [36]:
import nltk
# Part of speech can be a useful feature in itself, but is also heavily used in making lemmatization and stemming more effective
nltk.download('averaged_perceptron_tagger') # you need to download this component
nltk.pos_tag(tokens,lang='english')[:15]
#explanation of all these codes can be found here: https://medium.com/@gianpaul.r/tokenization-and-parts-of-speech-pos-tagging-in-pythons-nltk-library-2d30f70af13b

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

[('Joe', 'NNP'),
 ('Biden', 'NNP'),
 ('and', 'CC'),
 ('his', 'PRP$'),
 ('transition', 'NN'),
 ('team', 'NN'),
 ('are', 'VBP'),
 ('preparing', 'VBG'),
 ('for', 'IN'),
 ('an', 'DT'),
 ('early', 'JJ'),
 ('push', 'NN'),
 ('to', 'TO'),
 ('pass', 'VB'),
 ('an', 'DT')]

In [37]:
## now we know how the words are intended to use in the sentence

## NTS: mad libs text
## fill the blanck
## -- goes to -- -- his --

In [38]:
# stemming can be done as cleaning technique -> treats prefixes and suffixes.
## there are several stemmers

## Lankaster - very strong
## Porter - intermediant
## Snowball - not so strong

from nltk.stem import PorterStemmer

ps = PorterStemmer()
stemmed = [ps.stem(w) for w in tokens]
stemmed[:15]

['joe',
 'biden',
 'and',
 'hi',
 'transit',
 'team',
 'are',
 'prepar',
 'for',
 'an',
 'earli',
 'push',
 'to',
 'pass',
 'an']

In [39]:
# lemmatization is a more context aware version of stemming, where we take the actual roots of individual words
# the problem is that such a dictionary may not exist for all languages and that it does not know what to do with new words
nltk.download('wordnet') # wordnet is the most well known lemmatizer for english
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet

lemmatizer = WordNetLemmatizer() 
lemmatized = [lemmatizer.lemmatize(word) for word in tokens]
lemmatized[:15]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['Joe',
 'Biden',
 'and',
 'his',
 'transition',
 'team',
 'are',
 'preparing',
 'for',
 'an',
 'early',
 'push',
 'to',
 'pas',
 'an']

In [40]:
## they are not perfect because lematization 
## needs to know how the word is beeing used

## see examples bellow

In [41]:
nltk.pos_tag(['stripes'])

[('stripes', 'NNS')]

In [42]:
# lemmatization may still be a bit weak, mostly because the lemmatizer would like a bit more information about context to make decisions
display(lemmatizer.lemmatize("was"))
display(lemmatizer.lemmatize("was",wordnet.VERB))
display(lemmatizer.lemmatize("better"))
display(lemmatizer.lemmatize("better",wordnet.ADJ))
display(lemmatizer.lemmatize("stripes"))
display(lemmatizer.lemmatize("stripes",wordnet.NOUN))
display(lemmatizer.lemmatize("stripes",wordnet.VERB))

'wa'

'be'

'better'

'good'

'stripe'

'stripe'

'strip'

In [43]:
## to use the part of speach and the lematization together we need to create a function
## because they were not deveopled by the same person and we need to enterlace them
## THIS IS VERY UGLY!


# let's apply this to the all the newsfeed 
nltk.download('averaged_perceptron_tagger')

# unfortunately pos_tag and lemmatize use different codes for parts of speech 
def get_wordnet_pos(word):
    tag = nltk.pos_tag([word], lang='english')[0][1][0].upper() # gets first letter of POS categorization
    tag_dict = {"J": wordnet.ADJ, 
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN) # get returns second argument if first key does not exist 

#so everything that is not a adjective, a noun a ver or adverb it becomes a noun

lemmatizer = WordNetLemmatizer() 
lemmatized = [lemmatizer.lemmatize(word,get_wordnet_pos(word)) for word in tokens]
lemmatized[:15]

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

['Joe',
 'Biden',
 'and',
 'his',
 'transition',
 'team',
 'be',
 'prepare',
 'for',
 'an',
 'early',
 'push',
 'to',
 'pas',
 'an']

In [44]:
#removal of stopwords allows us to reduce the noise in the data to focus on the signal
from nltk.corpus import stopwords
nltk.download('stopwords')

without_sw = [word for word in lemmatized if word not in stopwords.words()]
without_sw[:15]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['Joe',
 'Biden',
 'transition',
 'team',
 'prepare',
 'early',
 'push',
 'ambitious',
 'new',
 'stimulus',
 'bill',
 'draw',
 'plan',
 'flurry',
 'executive']

In [45]:
# so now building a bag of words model
# after tokenizing, lemmatizing and removing stop words 
# will give you a much better result

## DATA PREPARATION DONE!!

In [46]:
" ".join(without_sw)

'Joe Biden transition team prepare early push ambitious new stimulus bill draw plan flurry executive action aim deliver campaign promise undo Trump administration effort undermine key government agency Biden inaugurate January press mandate confront simultaneous interwoven public health economic racial crisis At time team work spearhead complicate politically fraught mass vaccination campaign American history Biden agenda first 100 day office accord close outside group contact top aide center two key avenue action passage broad economic aid package legislation necessary series executive action aim advance priority Containing pandemic launch economic recovery tackle racial inequality urgent priority transition official say'

In [47]:
## NOW WE ARE GOING TO CHANGE THIS THEXT INTO A VECTOR OF NUMBERS

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vect = CountVectorizer()
# fit creates one entry for each different word seen  
bow_vect.fit([" ".join(without_sw)])
#transform only considers the words that have been seen in fit
bow_vect.transform(["simultaneous action bill 100 action david"]).toarray()

array([[1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [49]:
x = bow_vect.transform(['Joe Biden transition team prepare early push ambitious new stimulus bill draw plan flurry executive action aim deliver campaign promise undo Trump administration effort undermine key government agency Biden inaugurate January press mandate confront simultaneous interwoven public health economic racial crisis At time team work spearhead complicate politically fraught mass vaccination campaign American history Biden agenda first 100 day office accord close outside group contact top aide center two key avenue action passage broad economic aid package legislation necessary series executive action aim advance priority Containing pandemic launch economic recovery tackle racial inequality urgent priority transition official say']).toarray()

pd.DataFrame(x, columns= bow_vect.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,100,accord,action,administration,advance,agency,agenda,aid,aide,aim,...,time,top,transition,trump,two,undermine,undo,urgent,vaccination,work
0,1,1,3,1,1,1,1,1,1,2,...,1,1,2,1,1,1,1,1,1,1

In [50]:
## example with termn ferequency - iverser document frequency
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

tfidf.fit([" ".join(without_sw)])

tfidf.transform(["simultaneous action bill 100 action david"]).toarray()

array([[0.37796447, 0.        , 0.75592895, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.37796447, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.37796447,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ]])

# News clustering example

In [51]:
# corpus of 120k news headlines, here shortened to 10k
all_news = pd.read_csv('news.csv')
all_news.head()

                                                news
0  SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...
1  American Phil Mickelson registered a 59 to win...
2  French President Jacques Chirac and British Pr...
3  As many as 15,000 New Zealanders will be force...
4  The group led by al Qaeda ally Abu Musab  al-Z...

In [52]:
# same process as before, but for all lines
#tokenize, lowercase, remove punctuation

def tokenizer_and_remove_punctuation(row):
  tokens = word_tokenize(row['news'])
  return [word.lower() for word in tokens if word.isalpha()]

all_news['tokenized'] = all_news.apply(tokenizer_and_remove_punctuation,axis=1)
all_news.head()

,news,tokenized
0,SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...,"[san, francisco, dell, said, thursday, its, pr..."
1,American Phil Mickelson registered a 59 to win...,"[american, phil, mickelson, registered, a, to,..."
2,French President Jacques Chirac and British Pr...,"[french, president, jacques, chirac, and, brit..."
3,"As many as 15,000 New Zealanders will be force...","[as, many, as, new, zealanders, will, be, forc..."
4,The group led by al Qaeda ally Abu Musab al-Z...,"[the, group, led, by, al, qaeda, ally, abu, mu..."

In [53]:
# lemmatize with part of speech helpers

lemmatizer = WordNetLemmatizer() 

def lemmatizer_with_pos(row):
  return [lemmatizer.lemmatize(word,get_wordnet_pos(word)) for word in row['tokenized']]

all_news['lemmatized'] = all_news.apply(lemmatizer_with_pos,axis=1)
all_news.head()

,news,tokenized,lemmatized
0,SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...,"[san, francisco, dell, said, thursday, its, pr...","[san, francisco, dell, say, thursday, it, prof..."
1,American Phil Mickelson registered a 59 to win...,"[american, phil, mickelson, registered, a, to,...","[american, phil, mickelson, register, a, to, w..."
2,French President Jacques Chirac and British Pr...,"[french, president, jacques, chirac, and, brit...","[french, president, jacques, chirac, and, brit..."
3,"As many as 15,000 New Zealanders will be force...","[as, many, as, new, zealanders, will, be, forc...","[a, many, a, new, zealander, will, be, force, ..."
4,The group led by al Qaeda ally Abu Musab al-Z...,"[the, group, led, by, al, qaeda, ally, abu, mu...","[the, group, lead, by, al, qaeda, ally, abu, m..."

In [54]:
# remove stopwords

def remove_sw(row):
  return list(set(row['lemmatized']).difference(stopwords.words()))

all_news['no_stopwords'] = all_news.apply(remove_sw,axis=1)
all_news.head()

,news,tokenized,lemmatized,no_stopwords
0,SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...,"[san, francisco, dell, said, thursday, its, pr...","[san, francisco, dell, say, thursday, it, prof...","[francisco, earlier, say, pc, thursday, boost,..."
1,American Phil Mickelson registered a 59 to win...,"[american, phil, mickelson, registered, a, to,...","[american, phil, mickelson, register, a, to, w...","[low, eagle, equal, miss, slam, record, phil, ..."
2,French President Jacques Chirac and British Pr...,"[french, president, jacques, chirac, and, brit...","[french, president, jacques, chirac, and, brit...","[chirac, number, french, minister, tony, coope..."
3,"As many as 15,000 New Zealanders will be force...","[as, many, as, new, zealanders, will, be, forc...","[a, many, a, new, zealander, will, be, force, ...","[form, alternative, attack, relief, found, vio..."
4,The group led by al Qaeda ally Abu Musab al-Z...,"[the, group, led, by, al, qaeda, ally, abu, mu...","[the, group, lead, by, al, qaeda, ally, abu, m...","[ally, group, say, iraqi, friday, daylight, fo..."

In [55]:
# put all this cleaning together

def re_blob(row):
  return " ".join(row['no_stopwords'])

all_news['clean_blob'] = all_news.apply(re_blob,axis=1)
all_news.head()

,news,tokenized,lemmatized,no_stopwords,clean_blob
0,SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...,"[san, francisco, dell, said, thursday, its, pr...","[san, francisco, dell, say, thursday, it, prof...","[francisco, earlier, say, pc, thursday, boost,...",francisco earlier say pc thursday boost rise s...
1,American Phil Mickelson registered a 59 to win...,"[american, phil, mickelson, registered, a, to,...","[american, phil, mickelson, register, a, to, w...","[low, eagle, equal, miss, slam, record, phil, ...",low eagle equal miss slam record phil hawaii p...
2,French President Jacques Chirac and British Pr...,"[french, president, jacques, chirac, and, brit...","[french, president, jacques, chirac, and, brit...","[chirac, number, french, minister, tony, coope...",chirac number french minister tony cooperation...
3,"As many as 15,000 New Zealanders will be force...","[as, many, as, new, zealanders, will, be, forc...","[a, many, a, new, zealander, will, be, force, ...","[form, alternative, attack, relief, found, vio...",form alternative attack relief found vioxx ris...
4,The group led by al Qaeda ally Abu Musab al-Z...,"[the, group, led, by, al, qaeda, ally, abu, mu...","[the, group, lead, by, al, qaeda, ally, abu, m...","[ally, group, say, iraqi, friday, daylight, fo...",ally group say iraqi friday daylight found sol...

In [56]:
#let's take only the most common 1000 words
bow_vect = CountVectorizer(max_features=1000)
# fit creates one entry for each different word seen  
X = bow_vect.fit_transform(all_news['clean_blob']).toarray()

In [57]:
as_df = pd.DataFrame(X,columns=bow_vect.get_feature_names())
as_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,able,abu,abuse,access,accord,accounting,accuse,acquire,acquisition,across,...,wound,yahoo,yankee,yard,yasser,year,yesterday,yet,york,young
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
## let''s run a unsupervised learning that trys to group
# my news into different groups
## like international news, sports, or politics etc

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=6,random_state=100)
kmeans.fit(X)
pred = kmeans.predict(X)

In [59]:
predict_df = pd.concat([all_news['news'],pd.DataFrame(pred,columns=['class'])],axis=1)
predict_df.head()

                                                news  class
0  SAN FRANCISCO (CBS.MW) -- Dell Inc. said Thurs...      4
1  American Phil Mickelson registered a 59 to win...      1
2  French President Jacques Chirac and British Pr...      5
3  As many as 15,000 New Zealanders will be force...      0
4  The group led by al Qaeda ally Abu Musab  al-Z...      4

In [60]:
#corporate business
predict_df[predict_df['class']==0]

                                                   news  class
3     As many as 15,000 New Zealanders will be force...      0
7     Bank of America Corp. has said it #39;s bringi...      0
17    THEY took 40 minutes to get into their majesti...      0
18    French Finance Minister Nicolas Sarkozy is res...      0
43    DALLAS (Ticker) -- The New York Knicks have 13...      0
...                                                 ...    ...
9919  JERUSALEM : Beleaguered Israeli Prime Minister...      0
9944   quot;The achievement extends Intel #39;s effo...      0
9977  Prosecutors and defense attorneys in the Kobe ...      0
9979  A new batch of phone numbers will be assigned ...      0
9986  U.S. regulators on Thursday said big  local ph...      0

[933 rows x 2 columns]

In [61]:
#world
predict_df[predict_df['class']==1]

                                                   news  class
1     American Phil Mickelson registered a 59 to win...      1
6      PITCHING: Braves left-hander Mike Hampton, al...      1
9     Two days ago, before he would add another chap...      1
10    With Derek Lowe's days in Boston almost certai...      1
11    Stocks moved higher Friday as a stronger than ...      1
...                                                 ...    ...
9993  CHICAGO --- Elvis didn #39;t leave the buildin...      1
9994  There may have been another to go picked in th...      1
9995  A business columnist at the Seattle Times in t...      1
9997  Alicia Molik came back to beat French teen Tat...      1
9998  Ecuador upset Brazil 1-0 Wednesday to send the...      1

[6246 rows x 2 columns]

In [62]:
#finance & markets
predict_df[predict_df['class']==2]

                                                   news  class
8     It appears Dario Franchitti of Scotland is get...      2
59    The body of an Egyptian who was  kidnapped in ...      2
121   Just three weeks after the first strike, Jeann...      2
151   Three Japanese ministers paid homage at a  con...      2
186   Following a procession through the streets of ...      2
...                                                 ...    ...
9887  Swede Robin Soderling clinched the first  ATP ...      2
9907  John Smoltz, Adam LaRoche and J.D. Drew saved ...      2
9941  CASTEL GANDOLFO, Italy -- Pope John Paul II wa...      2
9958  Their name means "It's Time." Their slogan sho...      2
9965  BANGALORE, India India #39;s space agency is r...      2

[365 rows x 2 columns]

In [63]:
#TO ADD: PCA

In [64]:
#TO ADD: TF-IDF